:root {
  --mos-faqs-color: #0073aa;
  --mos-faqs-color-light: #00a0d2;
  --mos-faqs-color-dark: #005177;
  --mos-faqs-color-accent: #f7f7f7;
  --mos-faqs-color-text: #333;
  --mos-faqs-color-text-light: #fff;
}

.offcanvas {
  z-index: 999999 !important;
}
.mos-faqs-settings-template {
  position: relative;
  #wpcontent {
    padding-left: 0;
    #wpbody {
      #wpbody-content {
        .mos-faqs-settings-wrapper {
          .mos-faqs-settings-container {
            .top-bar {
              background-color: #343a40;
            }
            nav.navbar {
              top: 32px;
              .nav-item {
                margin-bottom: 0;
              }
            }
            .list-group {
              .list-group-item {
                margin-bottom: 0;
              }
            }
            .mos-faqs-settings {
              padding: 30px;
              .card {
                margin-top: 0;
                padding: 0;
                max-width: unset;
                overflow: hidden;
              }
            }
          }
        }
      }
    }
  }
}
.loading-skeleton {
  background: linear-gradient(45deg, #e0e0e0 25%, #f8f8f8 50%, #e0e0e0 75%);
  background-size: 200% 100%;
  animation: shimmer 3s infinite;
  // border-radius: 4px;
  // margin-bottom: 16px;
}
@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
