:root {
  --mos-faqs-color: #0073aa;
  --mos-faqs-color-light: #00a0d2;
  --mos-faqs-color-dark: #005177;
  --mos-faqs-color-accent: #f7f7f7;
  --mos-faqs-color-text: #333;
  --mos-faqs-color-text-light: #fff;
}

.offcanvas {
  z-index: 999999 !important;
}

.mos-faqs-settings-template {
  position: relative;
}
.mos-faqs-settings-template #wpcontent {
  padding-left: 0;
}
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content {
  padding-bottom: 0 !important;
}
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper {
  font-family: "Inter", sans-serif;
}
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper a {
  text-decoration: none;
}
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper h6,
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper .h6,
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper h5,
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper .h5,
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper h4,
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper .h4,
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper h3,
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper .h3,
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper h2,
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper .h2,
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper h1,
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper .h1 {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.2;
}
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper h1,
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper .h1 {
  font-size: 36px;
  line-height: 40px;
}
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper h2,
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper .h2 {
  font-size: 30px;
  line-height: 33px;
}
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper h3,
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper .h3 {
  font-size: 24px;
  line-height: 26px;
}
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper h4,
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper .h4 {
  font-size: 18px;
  line-height: 19px;
}
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper h5,
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper .h5 {
  font-size: 14px;
  line-height: 15px;
}
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper h6,
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper .h6 {
  font-size: 12px;
  line-height: 13px;
}
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper p,
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper .p {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 10px;
}
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper input[type=color].form-control,
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper input[type=date].form-control,
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper input[type=datetime-local].form-control,
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper input[type=datetime].form-control,
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper input[type=email].form-control,
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper input[type=month].form-control,
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper input[type=number].form-control,
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper input[type=password].form-control,
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper input[type=search].form-control,
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper input[type=tel].form-control,
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper input[type=text].form-control,
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper input[type=time].form-control,
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper input[type=url].form-control,
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper input[type=week].form-control,
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper select.form-control,
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper select.form-select,
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper textarea.form-control {
  border: 1px solid #dee2e6;
}
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper input[type=color].form-control {
  padding: 2px;
  width: 27px;
}
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper .mos-faqs-settings-container .top-bar {
  background-color: #343a40;
}
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper .mos-faqs-settings-container nav.navbar {
  top: 32px;
}
@media screen and (max-width: 600px) {
  .mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper .mos-faqs-settings-container nav.navbar {
    top: 0;
  }
}
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper .mos-faqs-settings-container nav.navbar .nav-item {
  margin-bottom: 0;
}
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper .mos-faqs-settings-container .list-group .list-group-item {
  margin-bottom: 0;
}
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper .mos-faqs-settings-container .mos-faqs-settings {
  padding: 30px;
}
.mos-faqs-settings-template #wpcontent #wpbody #wpbody-content .mos-faqs-settings-wrapper .mos-faqs-settings-container .mos-faqs-settings .card {
  margin-top: 0;
  padding: 0;
  max-width: unset;
}
.loading-skeleton {
  background: linear-gradient(45deg, #e0e0e0 25%, #f8f8f8 50%, #e0e0e0 75%);
  background-size: 200% 100%;
  animation: shimmer 3s infinite;
}
.loading-skeleton.h1, .loading-skeleton.h2, .loading-skeleton.h3, .loading-skeleton.h4, .loading-skeleton.h5, .loading-skeleton.h6 {
  margin-bottom: 10px;
}
.loading-skeleton.h1 {
  height: 40px;
}
.loading-skeleton.h2 {
  height: 33px;
}
.loading-skeleton.h3 {
  height: 26px;
}
.loading-skeleton.h4 {
  height: 19px;
}
.loading-skeleton.h5 {
  height: 15px;
}
.loading-skeleton.h6 {
  height: 13px;
}
.loading-skeleton.p {
  height: 20px;
  margin-bottom: 10px;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}/*# sourceMappingURL=admin-style.css.map */