.mos-faqs-settings-template {
  #wpcontent {
    padding-left: 0;
    #wpbody {
      #wpbody-content {
        .mos-faqs-settings-wrapper {
          padding: 30px;
          .mos-faqs-settings-container {
            .mos-faqs-settings {
              h1 {
                margin: 0;
              }
              .notice,
              div.error,
              div.updated {
                margin: 0;
                margin-top: 20px;
              }
            }
          }
        }
      }
    }
  }
}
